.blackiron.sheet.actor {
    .window-content {
        font-family: "Deutsch";
        background: url(./images/dark-marbled-paper-850x1000.jpg);
        select {
            font-family: "OptimusPrincepsSemiBold";
        }
        input {
            font-family: "OptimusPrincepsSemiBold";
        }
        .inj-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .attr-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .skill-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .custom-skill-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .item-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .weapon-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .courage-roll:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
        .custom-skill:hover {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
            cursor: pointer;
        }
    }
}