.sheet {
    form {
        display: inline-block;
    }
    .npc-img {
        height: 425px;
        width:  250px;
        text-align: center;
        float: left;
    }
    .header-img {
        width: 150px;
        height: 152px;
        float: left;
        background-color: rgba(114, 114, 114, 0.301);
        padding: 3px 0px 0px 2px;
    }
    .npc-name {
        width: 67%;
        float: left;
        padding-left: 5px;
        .name {
            height: 150%;
            font-size: 24pt;
            text-indent: 2pt;
        }
    }
    .header-name {
        width: 78%;
        float: left;
        padding-left: 5px;
        .name {
            height: 150%;
            font-size: 24pt;
            text-indent: 2pt;
        }
    }
    .header-bio {
        width: 78%;
        float: left;
        padding-left: 5px;
    }
    .actor-sidebar {
        width: 150px;
        height: 82%;
        float: left;
        table {
            background: rgba(0, 0, 0, 0,);
            border-style: none;
            input {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                font-size: x-large;
            }
            th {
                font-size: x-large;
            }
            .attr-label {
                text-indent: -35px;
            }
            .primary-check {
                width: 13px;
                height: 13px;
            }
            .derived {
                width: 25px;
                height: 20px;
                border-radius: 15%;
                font-size: medium;
            }
            .corruption-check {
                width: 13px;
                height: 13px;
            }
        }
    }
    .npc-sidebar {
        width: 100px;
        height: 82%;
        float: left;
        table {
            background: rgba(0, 0, 0, 0,);
            border-style: none;
            .attributes {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-left: 32px;
                text-align: center;
                font-size: x-large;
            }
            th {
                font-size: x-large;
            }
        }
    }

    .actor-main {
        width: 77%;
        height: 80%;
        margin-left: 5px;
        float: left;
    }

    .blackiron-sheet-tabs {
        text-align: center;
        a {
            margin-left: 30px;
            margin-right: 30px;
            font-size: large;
        }
        .active {
            text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
        }
    }

    .sheet-content {
        height: 95%;
        display: block;
        .editor {
            height: 250%;
        }
        .editor-content {
            height: 600px;
            min-height: 150px;
            font-family: "OptimusPrincepsSemiBold";
        }
        .skills-list {
            text-align: left;
            font-size: medium;
            border: none;
            .primary-skill {
                height: 13px;
                width: 13px
            }
            .skill-roll {
                text-transform: capitalize;
            }
            .rank-col {
                width: 25%;
                .skill-rank {
                    width: 50%;
                    background-color: rgba(0, 0, 0, 0);
                    border-width: thin;
                    border-radius: 15%;
                }
            }
        }
        .knacks-list {
            width: 73%;
            margin-left: 10px;
            float: left;
            font-size: small;
            border: none;
            .knack-name {
                width: 25%;
                margin-right: 5px;
            }
            .knack-skill {
                margin-right: 5px;
                width: 18%;
            }
        }
        .inj-container {
            position: relative;
            width: 300px;
            height: 402.2px;
            float: left;
            .injury-img {
                border: none;
            }
            .head-check {
                position: absolute;
                bottom: 335px;
                right: 245px;
            }
            .rarm-check {
                position: absolute;
                bottom: 284px;
                right: 245px;
            }
            .body-check {
                position: absolute;
                bottom: 195px;
                right: 245px;
            }
            .larm-check {
                position: absolute;
                bottom: 137px;
                right: 245px;
            }
            .rleg-check {
                position: absolute;
                bottom: 86px;
                right: 245px;
            }
            .lleg-check {
                position: absolute;
                bottom: 32px;
                right: 245px;
            }
        }
        .inj-table {
            float: left;
            width: 46%;
        }
        .combat-stats {
            float: left;
            width: 260px;
            height: 200px;
            font-size: 26pt;
            text-align: left;
            .combat-rolls {
                float: left;
                width: 50%;
                .roll-buttons {
                    font-size: x-large;
                    margin-top: 15px;
                }
            }
            input {
                width: 15%;
                text-align: center;
                font-size: 24pt;
            }
        }
        .weapons-list {
            width: 49%;
            float: left;
            margin-bottom: 75px;
        }
        .armour-list {
            width: 49%;
            margin-left: 5px;
            float: left;
        }
    }

    .npc-skills {
        width: 15%;
        text-align: left;
        font-size: small;
        border: none;
        float: left;
        .skill-roll {
            text-transform: capitalize;
        }
        .rank-col {
            width: 25%;
            .skill-rank {
                width: 50%;
                background-color: rgba(0, 0, 0, 0);
                border-width: thin;
                border-radius: 15%;
            }
        }
    }

    .npc-combat {
        float: left;
        width: 39%;
        td {
            text-align: center;
            input {
                width: 25%;
            }
        }
    }

    .npc-notes {
        float: left;
        width: 39%;
        .editor {
            height: 100%;
        }
        .editor-content {
            height: 150px;
            overflow: scroll;
            font-family: "OptimusPrincepsSemiBold";
        }
    }

    .npc-items {
        width: 19%;
        float: left;
    }
}