//fonts
@font-face {
    font-family: "Deutsch";
    src: url("fonts/Deutsch.ttf");
}

@font-face {
    font-family: "OptimusPrinceps";
    src: url("fonts/OptimusPrinceps.ttf");
}

@font-face {
    font-family: "OptimusPrincepsSemiBold";
    src: url("fonts/OptimusPrincepsSemiBold.ttf");
}