.blackiron.sheet.item {
    .window-content {
        font-family: "Deutsch";
        background: url(./images/dark-marbled-paper-650x500.jpg);
        select {
            font-family: "OptimusPrincepsSemiBold";
        }  
        input {
            font-family: "OptimusPrincepsSemiBold";
        }
    }
}