.sheet {
    form {
        display: inline-block;
    }
    .sheet-content {
        height: 100%;
        display: block;
        .editor {
            height: 250%;
        }
        .editor-content {
            min-height: 150px;
            font-family: "OptimusPrincepsSemiBold";
        }
        .item-sidebar {
            width: 30%;
            float: left;
            th {
                padding-right: 3px;
            }
            input {
                font-family: "OptimusPrincepsSemiBold";
            }
        }
        .item-main {
            width: 68%;
            padding-left: 5%;
            float: left;
            input {
                font-family: "OptimusPrincepsSemiBold";
            }
        }
    }
}