.sheet form {
  display: inline-block;
}
.sheet .sheet-content {
  height: 100%;
  display: block;
}
.sheet .sheet-content .editor {
  height: 250%;
}
.sheet .sheet-content .editor-content {
  min-height: 150px;
  font-family: "OptimusPrincepsSemiBold";
}
.sheet .sheet-content .item-sidebar {
  width: 30%;
  float: left;
}
.sheet .sheet-content .item-sidebar th {
  padding-right: 3px;
}
.sheet .sheet-content .item-sidebar input {
  font-family: "OptimusPrincepsSemiBold";
}
.sheet .sheet-content .item-main {
  width: 68%;
  padding-left: 5%;
  float: left;
}
.sheet .sheet-content .item-main input {
  font-family: "OptimusPrincepsSemiBold";
}
.sheet form {
  display: inline-block;
}
.sheet .npc-img {
  height: 425px;
  width: 250px;
  text-align: center;
  float: left;
}
.sheet .header-img {
  width: 150px;
  height: 152px;
  float: left;
  background-color: rgba(114, 114, 114, 0.301);
  padding: 3px 0px 0px 2px;
}
.sheet .npc-name {
  width: 67%;
  float: left;
  padding-left: 5px;
}
.sheet .npc-name .name {
  height: 150%;
  font-size: 24pt;
  text-indent: 2pt;
}
.sheet .header-name {
  width: 78%;
  float: left;
  padding-left: 5px;
}
.sheet .header-name .name {
  height: 150%;
  font-size: 24pt;
  text-indent: 2pt;
}
.sheet .header-bio {
  width: 78%;
  float: left;
  padding-left: 5px;
}
.sheet .actor-sidebar {
  width: 150px;
  height: 82%;
  float: left;
}
.sheet .actor-sidebar table {
  background: rgba(0, 0, 0, 0);
  border-style: none;
}
.sheet .actor-sidebar table input {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: x-large;
}
.sheet .actor-sidebar table th {
  font-size: x-large;
}
.sheet .actor-sidebar table .attr-label {
  text-indent: -35px;
}
.sheet .actor-sidebar table .primary-check {
  width: 13px;
  height: 13px;
}
.sheet .actor-sidebar table .derived {
  width: 25px;
  height: 20px;
  border-radius: 15%;
  font-size: medium;
}
.sheet .actor-sidebar table .corruption-check {
  width: 13px;
  height: 13px;
}
.sheet .npc-sidebar {
  width: 100px;
  height: 82%;
  float: left;
}
.sheet .npc-sidebar table {
  background: rgba(0, 0, 0, 0);
  border-style: none;
}
.sheet .npc-sidebar table .attributes {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 32px;
  text-align: center;
  font-size: x-large;
}
.sheet .npc-sidebar table th {
  font-size: x-large;
}
.sheet .actor-main {
  width: 77%;
  height: 80%;
  margin-left: 5px;
  float: left;
}
.sheet .blackiron-sheet-tabs {
  text-align: center;
}
.sheet .blackiron-sheet-tabs a {
  margin-left: 30px;
  margin-right: 30px;
  font-size: large;
}
.sheet .blackiron-sheet-tabs .active {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
}
.sheet .sheet-content {
  height: 95%;
  display: block;
}
.sheet .sheet-content .editor {
  height: 250%;
}
.sheet .sheet-content .editor-content {
  height: 600px;
  min-height: 150px;
  font-family: "OptimusPrincepsSemiBold";
}
.sheet .sheet-content .skills-list {
  text-align: left;
  font-size: medium;
  border: none;
}
.sheet .sheet-content .skills-list .primary-skill {
  height: 13px;
  width: 13px;
}
.sheet .sheet-content .skills-list .skill-roll {
  text-transform: capitalize;
}
.sheet .sheet-content .skills-list .rank-col {
  width: 25%;
}
.sheet .sheet-content .skills-list .rank-col .skill-rank {
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-width: thin;
  border-radius: 15%;
}
.sheet .sheet-content .knacks-list {
  width: 73%;
  margin-left: 10px;
  float: left;
  font-size: small;
  border: none;
}
.sheet .sheet-content .knacks-list .knack-name {
  width: 25%;
  margin-right: 5px;
}
.sheet .sheet-content .knacks-list .knack-skill {
  margin-right: 5px;
  width: 18%;
}
.sheet .sheet-content .inj-container {
  position: relative;
  width: 300px;
  height: 402.2px;
  float: left;
}
.sheet .sheet-content .inj-container .injury-img {
  border: none;
}
.sheet .sheet-content .inj-container .head-check {
  position: absolute;
  bottom: 335px;
  right: 245px;
}
.sheet .sheet-content .inj-container .rarm-check {
  position: absolute;
  bottom: 284px;
  right: 245px;
}
.sheet .sheet-content .inj-container .body-check {
  position: absolute;
  bottom: 195px;
  right: 245px;
}
.sheet .sheet-content .inj-container .larm-check {
  position: absolute;
  bottom: 137px;
  right: 245px;
}
.sheet .sheet-content .inj-container .rleg-check {
  position: absolute;
  bottom: 86px;
  right: 245px;
}
.sheet .sheet-content .inj-container .lleg-check {
  position: absolute;
  bottom: 32px;
  right: 245px;
}
.sheet .sheet-content .inj-table {
  float: left;
  width: 46%;
}
.sheet .sheet-content .combat-stats {
  float: left;
  width: 260px;
  height: 200px;
  font-size: 26pt;
  text-align: left;
}
.sheet .sheet-content .combat-stats .combat-rolls {
  float: left;
  width: 50%;
}
.sheet .sheet-content .combat-stats .combat-rolls .roll-buttons {
  font-size: x-large;
  margin-top: 15px;
}
.sheet .sheet-content .combat-stats input {
  width: 15%;
  text-align: center;
  font-size: 24pt;
}
.sheet .sheet-content .weapons-list {
  width: 49%;
  float: left;
  margin-bottom: 75px;
}
.sheet .sheet-content .armour-list {
  width: 49%;
  margin-left: 5px;
  float: left;
}
.sheet .npc-skills {
  width: 15%;
  text-align: left;
  font-size: small;
  border: none;
  float: left;
}
.sheet .npc-skills .skill-roll {
  text-transform: capitalize;
}
.sheet .npc-skills .rank-col {
  width: 25%;
}
.sheet .npc-skills .rank-col .skill-rank {
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-width: thin;
  border-radius: 15%;
}
.sheet .npc-combat {
  float: left;
  width: 39%;
}
.sheet .npc-combat td {
  text-align: center;
}
.sheet .npc-combat td input {
  width: 25%;
}
.sheet .npc-notes {
  float: left;
  width: 39%;
}
.sheet .npc-notes .editor {
  height: 100%;
}
.sheet .npc-notes .editor-content {
  height: 150px;
  overflow: scroll;
  font-family: "OptimusPrincepsSemiBold";
}
.sheet .npc-items {
  width: 19%;
  float: left;
}
@font-face {
  font-family: "Deutsch";
  src: url("fonts/Deutsch.ttf");
}
@font-face {
  font-family: "OptimusPrinceps";
  src: url("fonts/OptimusPrinceps.ttf");
}
@font-face {
  font-family: "OptimusPrincepsSemiBold";
  src: url("fonts/OptimusPrincepsSemiBold.ttf");
}
.blackiron.sheet.actor .window-content {
  font-family: "Deutsch";
  background: url(./images/dark-marbled-paper-850x1000.jpg);
}
.blackiron.sheet.actor .window-content select {
  font-family: "OptimusPrincepsSemiBold";
}
.blackiron.sheet.actor .window-content input {
  font-family: "OptimusPrincepsSemiBold";
}
.blackiron.sheet.actor .window-content .inj-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .attr-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .skill-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .custom-skill-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .item-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .weapon-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .courage-roll:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.actor .window-content .custom-skill:hover {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.637);
  cursor: pointer;
}
.blackiron.sheet.item .window-content {
  font-family: "Deutsch";
  background: url(./images/dark-marbled-paper-650x500.jpg);
}
.blackiron.sheet.item .window-content select {
  font-family: "OptimusPrincepsSemiBold";
}
.blackiron.sheet.item .window-content input {
  font-family: "OptimusPrincepsSemiBold";
}
