<form class="{{cssClass}}" autocomplete="off">

    {{!-- header --}}
    <header>
        <div class="header-img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
        <div class="header-name"><input class="name" name="name" type="text" value="{{actor.name}}" /></div>
        <div class="header-bio">
            <table>
                <tr>
                    <th>{{localize "blackiron.bioSpecies"}}</th>
                    <td>
                        <input name="system.bio.species" type="text" value="{{actor.system.bio.species}}" data-dtype="String" />
                    </td>
                    <th>{{localize "blackiron.bioTrait"}}</th>
                    <td>
                        <input name="system.bio.trait" type="text" value="{{actor.system.bio.trait}}" data-dtype="String" />
                    </td>
                    <th>{{localize "blackiron.bioBackground"}}</th>
                    <td>
                        <input name="system.bio.background" type="text" value="{{actor.system.bio.background}}" data-dtype="String" />
                    </td>
                    
                </tr>
                <tr>
                    <th>{{localize "blackiron.role"}}</th>
                    <td>
                        <input name="system.role" type="text" value="{{actor.system.role}}" data-dtype="String" />
                    </td>
                    <th>{{localize "blackiron.bioGuild"}}</th>
                    <td>
                        <input name="system.bio.guild" type="text" value="{{actor.system.bio.guild}}" data-dtype="String" />
                    </td>
                    <th>{{localize "blackiron.bioRank"}}</th>
                    <td>
                        <input name="system.bio.rank" type="text" value="{{actor.system.bio.rank}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.expIndividual"}}</th>
                    <td>
                        <input name="system.experience.advancePoints" type="text" value="{{actor.system.experience.advancePoints}}" data-dtype="Number" />
                    </td>
                    <th>{{localize "blackiron.expGroup"}}</th>
                    <td>
                        <input name="system.experience.groupXP" type="text" value="{{actor.system.experience.groupXP}}" data-dtype="Number" />
                    </td>
                    <th>{{localize "blackiron.chits"}}</th>
                    <td>
                        <input name="system.chits" type="text" value="{{actor.system.chits}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>
    </header>

    {{!-- sidebar --}}
    <div class="actor-sidebar">

        {{!-- main attributes --}}
        <table>
            <tr>
                <td style="padding-left: 49px;">
                    <input name="system.attributes.body" type="text" value="{{actor.system.attributes.body}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th class="attr-label">
                    <input class="primary-check" type="checkbox" name="system.primaryAttr.primaryBody" data-dtype="Boolean" {{checked actor.system.primaryAttr.primaryBody}} />
                    <label for="system.attributes.body" class="attr-roll" data-attr="{{actor.system.attributes.body}}" data-label="{{localize "blackiron.attrBod"}}">{{localize "blackiron.attrBod"}}</label>
                </th>
            </tr>
            <tr>
                <td style="padding-left: 49px;">
                    <input name="system.attributes.agility" type="text" value="{{actor.system.attributes.agility}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th class="attr-label">
                    <input class="primary-check" type="checkbox" name="system.primaryAttr.primaryAgility" data-dtype="Boolean" {{checked actor.system.primaryAttr.primaryAgility}} />
                    <label for="system.attributes.agility" class="attr-roll" data-attr="{{actor.system.attributes.agility}}" data-label="{{localize "blackiron.attrAgl"}}">{{localize "blackiron.attrAgl"}}</label>
                </th>
            </tr>
            <tr>
                <td style="padding-left: 49px;">
                    <input name="system.attributes.mind" type="text" value="{{actor.system.attributes.mind}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th class="attr-label">
                    <input class="primary-check" type="checkbox" name="system.primaryAttr.primaryMind" data-dtype="Boolean" {{checked actor.system.primaryAttr.primaryMind}} />
                    <label for="system.attributes.mind" class="attr-roll" data-attr="{{actor.system.attributes.mind}}" data-label="{{localize "blackiron.attrMnd"}}">{{localize "blackiron.attrMnd"}}</label>
                </th>
            </tr>
            <tr>
                <td style="padding-left: 49px;">
                    <input name="system.attributes.instinct" type="text" value="{{actor.system.attributes.instinct}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th class="attr-label">
                    <input class="primary-check" type="checkbox" name="system.primaryAttr.primaryInstinct" data-dtype="Boolean" {{checked actor.system.primaryAttr.primaryInstinct}} />
                    <label for="system.attributes.instinct" class="attr-roll" data-attr="{{actor.system.attributes.instinct}}" data-label="{{localize "blackiron.attrIns"}}">{{localize "blackiron.attrIns"}}</label>
                </th>
            </tr>
        </table>

        {{!-- derived attributes --}}
        <table>
            <tr>
                <th style="font-size: medium; padding-left: 5px;">{{localize "blackiron.attrWounds"}}</td>
                <td>
                    <input class="derived" name="system.derived.wounds.value" type="text" value="{{actor.system.derived.wounds.value}}" data-dtype="Number" />
                    /
                    {{actor.system.derived.wounds.max}}
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; padding-left: 5px;">{{localize "blackiron.attrStamina"}}</td>
                <td>
                    <input class="derived" name="system.derived.stamina.value" type="text" value="{{actor.system.derived.stamina.value}}" data-dtype="Number" />
                    /
                    {{actor.system.derived.stamina.max}}
                </td>
            </tr>
            <tr>
                <th class="courage-roll" data-value="{{actor.system.derived.courage}}" style="font-size: medium; padding-left: 5px;">{{localize "blackiron.attrCourage"}}</td>
                <td style="text-align: center;">
                    {{actor.system.derived.courage}}
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; padding-left: 5px;">{{localize "blackiron.attrInfluence"}}</td>
                <td style="text-align: center;">
                    {{actor.system.derived.influence}}
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; padding-left: 5px;">{{localize "blackiron.attrInit"}}</td>
                <td style="text-align: center;">
                    {{actor.system.derived.initiative}}
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; padding-left: 5px;">{{localize "blackiron.corruption"}}</th>
                <td>
                    <input class="derived" style="margin-left: 26px;" name="system.corruption.current" type="text" value="{{actor.system.corruption.current}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; text-align: center;" colspan="2">{{localize "blackiron.corruptionTemp"}}</th>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="corruption-check" type="checkbox" name="system.corruption.temp1" data-dtype="Boolean" {{checked actor.system.corruption.temp1}} />
                    <input class="corruption-check" type="checkbox" name="system.corruption.temp2" data-dtype="Boolean" {{checked actor.system.corruption.temp2}} />
                    <input class="corruption-check" type="checkbox" name="system.corruption.temp3" data-dtype="Boolean" {{checked actor.system.corruption.temp3}} />
                    <input class="corruption-check" type="checkbox" name="system.corruption.temp4" data-dtype="Boolean" {{checked actor.system.corruption.temp4}} />
                    <input class="corruption-check" type="checkbox" name="system.corruption.temp5" data-dtype="Boolean" {{checked actor.system.corruption.temp5}} />
                </td>
            </tr>
            <tr>
                <th style="font-size: medium; text-align: center;" colspan="2">{{localize "blackiron.catalyst"}}</th>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="corruption-check" type="checkbox" name="system.catalyst.cat1" data-dtype="Boolean" {{checked actor.system.catalyst.cat1}} />
                    <input class="corruption-check" type="checkbox" name="system.catalyst.cat2" data-dtype="Boolean" {{checked actor.system.catalyst.cat2}} />
                    <input class="corruption-check" type="checkbox" name="system.catalyst.cat3" data-dtype="Boolean" {{checked actor.system.catalyst.cat3}} />
                    <input class="corruption-check" type="checkbox" name="system.catalyst.cat4" data-dtype="Boolean" {{checked actor.system.catalyst.cat4}} />
                    <input class="corruption-check" type="checkbox" name="system.catalyst.cat5" data-dtype="Boolean" {{checked actor.system.catalyst.cat5}} />
                </td>
            </tr>
        </table>
    </div>

    {{!-- main --}}
    <div class="actor-main">

        {{!-- navigation --}}
        <nav class="blackiron-sheet-tabs" data-group="primary">
            <a data-tab="skills">{{localize "blackiron.skills"}}</a>
            <a data-tab="combat">{{localize "blackiron.combat"}}</a>
            <a data-tab="magic">{{localize "blackiron.magic"}}</a>
            <a data-tab="equipment">{{localize "blackiron.equipment"}}</a>
            <a data-tab="notes">{{localize "blackiron.notes"}}</a>
        </nav>

        {{!-- sheet content --}}
        <section class="sheet-content">

            {{!-- skills --}}
            <div class="tab" data-group="primary" data-tab="skills">
                <div style="width: 25%; float: left;">
                    <table class="skills-list">
                        <tr>
                            <th>{{localize "blackiron.skill"}}</th>
                            <th>{{localize "blackiron.skillsRank"}}</th>
                        </tr>
                        {{#each data.skills as |skill key|}}
                        <tr>
                            <td>
                                <input class="primary-skill" type="checkbox" name="system.skills.{{key}}.primary" {{checked skill.primary}} data-dtype="Boolean" />
                                <span  class="skill-roll"
                                data-value="{{skill.value}}"
                                data-attr="{{skill.attr}}"
                                data-label="{{key}}">{{key}}</span>
                            </td>
                            <td class="rank-col">
                                <input name="system.skills.{{key}}.value"  class="skill-rank" value="{{skill.value}}" data-dtype="Number" />
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <table class="skills-list" style="font-size: small;">
                        <tr>
                            <th class="custom-skill"><a class="item-create" data-type="customSkill">{{localize "blackiron.customSkill"}} +</a></th>
                            <th>{{localize "blackiron.skillsRank"}}</th>
                            <th> </th>
                        </tr>
                        {{#each customSkill as |skill id|}}
                        <tr class="item" data-item-id="{{skill._id}}">
                            <td>
                                <input class="primary-skill" type="checkbox" {{checked skill.system.primary}} disabled />
                                <span class="custom-skill-roll"
                                data-value="{{skill.system.value}}"
                                data-attr="{{skill.system.attr}}"
                                data-label="{{name}}">{{name}}</span>
                            </td>
                            <td class="rank-col">
                                {{skill.system.value}}
                            </td>
                            <td style="font-size: x-small;">
                                <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>

                <table class="knacks-list">
                    <tr>
                        <th colspan="3">{{localize "blackiron.knacks"}}</th>
                        <td>
                            <a class="item-create" data-type="knack" title="{{localize "blackiron.knackAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="knack-name">{{localize "blackiron.knack"}}</td>
                        <td class="knack-skill">{{localize "blackiron.skill"}}</td>
                        <td>{{localize "blackiron.description"}}</td>
                        <td></td>
                    </tr>
                    {{#each knack as |knack id|}}
                    <tr class="item" data-item-id="{{knack._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td style="text-transform: capitalize;">{{system.skill}}</td>
                        <td>{{{system.description}}}</td>
                        <td>
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            {{!-- combat --}}
            <div class="tab" data-group="primary" data-tab="combat">
                {{!-- initial div to wrap section above weapons and armour --}}
                <div>

                {{!-- injury image --}}
                <div class="inj-container">
                    <img class="injury-img" src="systems/blackiron/images/blackiron-injuries.png">
                    <input class="head-check" type="checkbox" name="system.hitlocations.head" data-dtype="Boolean" {{checked actor.system.hitlocations.head}} />
                    <input class="rarm-check" type="checkbox" name="system.hitlocations.rArm" data-dtype="Boolean" {{checked actor.system.hitlocations.rArm}} />
                    <input class="body-check" type="checkbox" name="system.hitlocations.body" data-dtype="Boolean" {{checked actor.system.hitlocations.body}} />
                    <input class="larm-check" type="checkbox" name="system.hitlocations.lArm" data-dtype="Boolean" {{checked actor.system.hitlocations.lArm}} />
                    <input class="rleg-check" type="checkbox" name="system.hitlocations.rLeg" data-dtype="Boolean" {{checked actor.system.hitlocations.rLeg}} />
                    <input class="lleg-check" type="checkbox" name="system.hitlocations.lLeg" data-dtype="Boolean" {{checked actor.system.hitlocations.lLeg}} />
                </div>

                {{!-- injury table --}}
                <div class="inj-table">
                    <table>
                        <tr>
                            <th colspan="3"><i class="fas fa-dice" style="margin-right: 15px;"></i><span class="inj-roll" data-dice="2d6">{{localize "blackiron.injuryTable"}}</span></th>
                        </tr>
                        <tr>
                            <th>2d6</th>
                            <th>{{localize "blackiron.injuryLocation"}}</th>
                            <th>{{localize "blackiron.attr"}}</th>
                        </tr>
                        <tr>
                            <td>2-3</td>
                            <td>{{localize "blackiron.injuryLLeg"}}</td>
                            <td>{{localize "blackiron.attrAgility"}}</td>
                        </tr>
                        <tr>
                            <td>4-5</td>
                            <td>{{localize "blackiron.injuryRLeg"}}</td>
                            <td>{{localize "blackiron.attrAgility"}}</td>
                        </tr>
                        <tr>
                            <td>6-7</td>
                            <td>{{localize "blackiron.injuryLArm"}}</td>
                            <td>{{localize "blackiron.attrAgility"}}</td>
                        </tr>
                        <tr>
                            <td>8-9</td>
                            <td>{{localize "blackiron.injuryBody"}}</td>
                            <td>{{localize "blackiron.attrBody"}}</td>
                        </tr>
                        <tr>
                            <td>10-11</td>
                            <td>{{localize "blackiron.injuryRArm"}}</td>
                            <td>{{localize "blackiron.attrAgility"}}</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>{{localize "blackiron.injuryHead"}}</td>
                            <td>{{localize "blackiron.attrMind"}}</td>
                        </tr>
                    </table>
                </div>

                {{!-- combat rolls and armour points --}}
                <div class="combat-stats">
                    <span>{{localize "blackiron.armourAP"}}</span>
                    <input name="system.armourPoints" type="text" value="{{actor.system.armourPoints}}" data-dtype="Number" />
                    
                    {{!-- split rolls into two divs --}}
                    <div class="combat-rolls">
                    <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                        <span class="skill-roll"
                            data-value="{{actor.system.skills.melee.value}}"
                            data-attr="{{actor.system.skills.melee.attr}}"
                            data-label="{{localize "blackiron.combatBlock"}}">{{localize "blackiron.combatBlock"}} 
                        </span>
                    </div>
                    <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                        <span class="skill-roll"
                            data-value="{{actor.system.skills.melee.value}}"
                            data-attr="{{actor.system.skills.melee.attr}}"
                            data-label="{{localize "blackiron.combatParry"}}">{{localize "blackiron.combatParry"}} 
                        </span>
                    </div>
                    <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                        <span class="skill-roll"
                            data-value="{{actor.system.skills.athletics.value}}"
                            data-attr="{{actor.system.skills.athletics.attr}}"
                            data-label="{{localize "blackiron.combatDodge"}}">{{localize "blackiron.combatDodge"}} 
                        </span>
                    </div>
                    <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                        <span class="skill-roll"
                            data-value="{{actor.system.skills.fight.value}}"
                            data-attr="{{actor.system.skills.fight.attr}}"
                            data-label="{{localize "blackiron.combatDefend"}}">{{localize "blackiron.combatDefend"}} 
                        </span>
                    </div>
                    </div>

                    <div class="combat-rolls">
                        <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                            <span class="skill-roll"
                                data-value="{{actor.system.skills.fight.value}}"
                                data-attr="{{actor.system.skills.fight.attr}}"
                                data-label="{{localize "blackiron.skillFight"}}">{{localize "blackiron.skillFight"}} 
                            </span>
                        </div>
                        <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                            <span class="skill-roll"
                                data-value="{{actor.system.skills.melee.value}}"
                                data-attr="{{actor.system.skills.melee.attr}}"
                                data-label="{{localize "blackiron.skillMelee"}}">{{localize "blackiron.skillMelee"}} 
                            </span>
                        </div>
                        <div class="roll-buttons"><i class="fas fa-dice" style="margin-right: 5px;"></i>
                            <span class="skill-roll"
                                data-value="{{actor.system.skills.ranged.value}}"
                                data-attr="{{actor.system.skills.ranged.attr}}"
                                data-label="{{localize "blackiron.skillRanged"}}">{{localize "blackiron.skillRanged"}} 
                            </span>
                        </div>
                    </div>
                </div>
                </div>

                {{!-- begin weapon and armour tables --}}
                <table class="weapons-list">
                    <tr>
                        <th colspan="4">{{localize "blackiron.weapons"}}</th>
                        <td>
                            <a class="item-create" data-type="weapon" title="{{localize "blackiron.weaponAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "blackiron.weapon"}}</td>
                        <td>{{localize "blackiron.weaponDamageType"}}</td>
                        <td>{{localize "blackiron.weaponHands"}}</td>
                        <td>{{localize "blackiron.weaponDamage"}}</td>
                        <td></td>
                    </tr>
                    {{#each weapon as |weapon id|}}
                    <tr class="item" data-item-id="{{weapon._id}}">
                        <td class="weapon-roll">{{name}}</td>
                        <td style="text-transform: capitalize;">{{system.type}}</td>
                        <td>{{system.hand}}</td>
                        <td>{{system.damage}}{{system.damageType}}</td>
                        <td>
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                <table class="armour-list">
                    <tr>
                        <th colspan="4">{{localize "blackiron.armour"}}</th>
                        <td>
                            <a class="item-create" data-type="armour" title="{{localize "blackiron.armourAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "blackiron.armour"}}</td>
                        <td>{{localize "blackiron.armourPoints"}}</td>
                        <td>{{localize "blackiron.weaponBreak"}}</td>
                        <td>{{localize "blackiron.armourModNum"}}</td>
                        <td></td>
                    </tr>
                    {{#each armour as |armour id|}}
                    <tr class="item" data-item-id="{{armour._id}}">
                        <td>{{name}}</td>
                        <td style="text-transform: capitalize;">{{system.ap}}</td>
                        <td>{{system.break}}</td>
                        <td>{{system.modifierNum}} {{system.modifierSkill}}</td>
                        <td>
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                <table class="armour-list">
                    <tr>
                        <th colspan="4">{{localize "blackiron.ammunition"}}</th>
                        <td>
                            <a class="item-create" data-type="ammunition" title="{{localize "blackiron.ammunitionAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "blackiron.ammunition"}}</td>
                        <td>{{localize "blackiron.ammunitionType"}}</td>
                        <td>{{localize "blackiron.ammunitionAmt"}}</td>
                        <td>{{localize "blackiron.ammunitionDamage"}}</td>
                    </tr>
                    {{#each ammunition as |ammunition id|}}
                    <tr class="item" data-item-id="{{ammunition._id}}">
                        <td>{{name}}</td>
                        <td style="text-transform: capitalize;">{{system.type}}</td>
                        <td>{{system.amount}}</td>
                        <td>{{system.damage}} {{system.modifierSkill}}</td>
                        <td>
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            {{!-- magic --}}
            <div class="tab" data-group="primary" data-tab="magic">
                <table>
                    <tr>
                        <th>{{localize "blackiron.spellSchool"}}: 
                            <select name="system.school">
                                {{#select data.school}}
                                {{#each config.spellSchools as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </th>
                        <th>{{localize "blackiron.spellCircle"}}
                            <input style="width: 25%;" name="system.arcaneCircle" type="text" value="{{actor.system.arcaneCircle}}" data-dtype="Number" />
                        </th>
                    </tr>
                </table>
                <table class="spells-list">
                    <tr>
                        <th colspan="7">{{localize "blackiron.spells"}}</th>
                        <td>
                            <a class="item-create" data-type="spell" title="{{localize "blackiron.spellAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; margin: 2px;">{{localize "blackiron.spell"}}</td>
                        <td style="width: 15%; margin: 2px;">{{localize "blackiron.spellSchool"}}</td>
                        <td style="width: 7%; margin: 2px;">{{localize "blackiron.spellCircle"}}</td>
                        <td style="width: 15%; margin: 2px;">{{localize "blackiron.spellType"}}</td>
                        <td style="width: 5%; margin: 2px;">{{localize "blackiron.spellTN"}}</td>
                        <td style="width: 5%; margin: 2px;">{{localize "blackiron.spellCost"}}</td>
                        <td style="width: 49%; margin: 2px;">{{localize "blackiron.spellDesc"}}</td>
                        <td></td>
                    </tr>
                    {{#each spell as |spell id|}}
                    <tr class="item" data-item-id="{{spell._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td style="text-transform: capitalize;">{{system.school}}</td>
                        <td>{{system.circle}}</td>
                        <td style="text-transform: capitalize;">{{system.type}}</td>
                        <td>{{system.tn}}</td>
                        <td>{{system.spellCost}}</td>
                        <td>{{{system.description}}}</td>
                        <td>
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            {{!-- equipment --}}
            <div class="tab" data-group="primary" data-tab="equipment">
                <table>
                    <tr>
                        <th colspan="3" style="text-indent: -37px;">{{localize "blackiron.equipmentEncumb"}}</th>
                    </tr>
                    <tr>
                        <td>
                            {{localize "blackiron.equipmentCarry"}} 
                            <input style="width: 25%;" name="system.carrySlots.filled" type="text" value="{{actor.system.carrySlots.filled}}" data-dtype="Number" />
                            /
                            <input style="width: 25%;" name="system.carrySlots.max" type="text" value="{{actor.system.carrySlots.max}}" data-dtype="Number" />
                        </td>
                        <td>
                            {{localize "blackiron.equipmentMovePen"}}
                            <input style="width: 25%;"  name="system.movementPen" type="text" value="{{actor.system.movementPen}}" data-dtype="Number" />
                        </td>
                        <td>
                            {{localize "blackiron.equipmentSkillPen"}}
                            <input style="width: 25%;" name="system.skillPen" type="text" value="{{actor.system.skillPen}}" data-dtype="Number" />
                        </td>
                    </tr>
                </table>

                {{!-- Worn Gear --}}
                <table>
                    <tr>
                        <th colspan="2">{{localize "blackiron.equipmentWorn"}}</th>
                        <td style="padding-left: 10px;">
                            <a class="item-create" data-type="wornGear" title="{{localize "blackiron.equipmentWornAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%;">{{localize "blackiron.equipment"}}</td>
                        <td>{{localize "blackiron.description"}}</td>
                        <td style="width: 7%;"></td>
                    </tr>
                    {{#each wornGear as |wornGear id|}}
                    <tr class="item" data-item-id="{{wornGear._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td>{{{system.description}}}</td>
                        <td style="padding-left: 10px;">
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>

                {{!-- Carried Gear --}}
                <table>
                    <tr>
                        <th colspan="4">{{localize "blackiron.equipmentCarried"}}</th>
                        <td style="padding-left: 10px;">
                            <a class="item-create" data-type="carriedGear" title="{{localize "blackiron.equipmentCarriedAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%;">{{localize "blackiron.equipment"}}</td>
                        <td style="width: 7%;">{{localize "blackiron.itemSlots"}}</td>
                        <td style="width: 7%;">{{localize "blackiron.itemExpend"}}</td>
                        <td style="padding-left: 10px;">{{localize "blackiron.description"}}</td>
                        <td style="width: 7%;"></td>
                    </tr>
                    {{#each carriedGear as |carriedGear id|}}
                    <tr class="item" data-item-id="{{carriedGear._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td>{{system.slots}}</td>
                        <td>{{system.expendable}}</td>
                        <td style="padding-left: 10px;">{{{system.description}}}</td>
                        <td style="padding-left: 10px;">
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>

                {{!-- Potions --}}
                <table>
                    <tr>
                        <th colspan="5">{{localize "blackiron.potions"}}</th>
                        <td style="padding-left: 10px;">
                            <a class="item-create" data-type="potion" title="{{localize "blackiron.potionAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%;">{{localize "blackiron.potion"}}</td>
                        <td style="width: 7%;">{{localize "blackiron.potionType"}}</td>
                        <td style="width: 7%;">{{localize "blackiron.potionUse"}}</td>
                        <td style="width: 7%; padding-left: 10px;">{{localize "blackiron.potency"}}</td>
                        <td style="padding-left: 10px;">{{localize "blackiron.potionEffect"}}</td>
                        <td style="width: 7%;"></td>
                    </tr>
                    {{#each potion as |potion id|}}
                    <tr class="item" data-item-id="{{potion._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td>{{system.type}}</td>
                        <td>{{system.use}}</td>
                        <td style="padding-left: 10px;">{{system.potency}}</td>
                        <td style="padding-left: 10px;">{{{system.effect}}}</td>
                        <td style="padding-left: 10px;">
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>

                {{!-- Poisons --}}
                <table>
                    <tr>
                        <th colspan="4">{{localize "blackiron.poisons"}}</th>
                        <td style="padding-left: 10px;">
                            <a class="item-create" data-type="poison" title="{{localize "blackiron.poisonAdd"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%;">{{localize "blackiron.poison"}}</td>
                        <td style="width: 7%;">{{localize "blackiron.potionUse"}}</td>
                        <td style="width: 7%; padding-left: 10px;">{{localize "blackiron.potency"}}</td>
                        <td style="padding-left: 10px;">{{localize "blackiron.potionEffect"}}</td>
                        <td style="width: 7%;"></td>
                    </tr>
                    {{#each poison as |poison id|}}
                    <tr class="item" data-item-id="{{poison._id}}">
                        <td class="item-roll">{{name}}</td>
                        <td>{{system.use}}</td>
                        <td style="padding-left: 10px;">{{system.potency}}</td>
                        <td style="padding-left: 10px;">{{{system.effect}}}</td>
                        <td style="padding-left: 10px;">
                            <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            {{!-- notes --}}
            <div class="tab" data-group="primary" data-tab="notes">
                <table>
                    <tr>
                        <th colspan="4" style="font-size: large;">{{localize "blackiron.advancement"}}</th>
                    </tr>
                    <tr>
                        <td>{{localize "blackiron.advancementWounds"}}
                            <input style="width: 25%;" name="system.experience.addWound" type="text" value="{{actor.system.experience.addWound}}" data-dtype="Number" />
                        </td>
                        <td>{{localize "blackiron.advancementStamina"}}
                            <input style="width: 25%;" name="system.experience.addStam" type="text" value="{{actor.system.experience.addStam}}" data-dtype="Number" />
                        </td>
                        <td>{{localize "blackiron.advancementResistance"}}
                            <input style="width: 25%;" name="system.experience.addRes" type="text" value="{{actor.system.experience.addRes}}" data-dtype="Number" />
                        </td>
                        <td>{{localize "blackiron.advancementInitiative"}}
                            <input style="width: 25%;" name="system.experience.addInit" type="text" value="{{actor.system.experience.addInit}}" data-dtype="Number" />
                        </td>
                    </tr>
                </table>
                <div>
                    {{editor enrichedNotes target="system.bio.notes" button=true editable=editable}}
                </div>
            </div>

        </section>
    </div>
</form>