<form class="{{cssClass}}" autocomplete="off">

    {{!-- image --}}
    <div class="npc-img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>

    {{!-- name --}}
    <div class="npc-name"><input class="name" name="name" type="text" value="{{actor.name}}" /></div>

    {{!-- attributes --}}
    <div class="npc-sidebar">
        <table>
            <tr>
                <td>
                    <input class="attributes" name="system.attributes.body" type="text" value="{{actor.system.attributes.body}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th style="padding-bottom: 13px;">
                    <label for="system.attributes.body" class="attr-roll" data-attr="{{actor.system.attributes.body}}" data-label="{{localize "blackiron.attrBod"}}">{{localize "blackiron.attrBod"}}</label>
                </th>
            </tr>
            <tr>
                <td>
                    <input class="attributes" name="system.attributes.agility" type="text" value="{{actor.system.attributes.agility}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th style="padding-bottom: 13px;">
                    <label for="system.attributes.agility" class="attr-roll" data-attr="{{actor.system.attributes.agility}}" data-label="{{localize "blackiron.attrAgl"}}">{{localize "blackiron.attrAgl"}}</label>
                </th>
            </tr>
            <tr>
                <td>
                    <input class="attributes" name="system.attributes.mind" type="text" value="{{actor.system.attributes.mind}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th style="padding-bottom: 13px;">
                    <label for="system.attributes.mind" class="attr-roll" data-attr="{{actor.system.attributes.mind}}" data-label="{{localize "blackiron.attrMnd"}}">{{localize "blackiron.attrMnd"}}</label>
                </th>
            </tr>
            <tr>
                <td>
                    <input class="attributes" name="system.attributes.instinct" type="text" value="{{actor.system.attributes.instinct}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th style="padding-bottom: 13px;">
                    <label for="system.attributes.instinct" class="attr-roll" data-attr="{{actor.system.attributes.instinct}}" data-label="{{localize "blackiron.attrIns"}}">{{localize "blackiron.attrIns"}}</label>
                </th>
            </tr>
            <tr>
                <td>
                    <input class="attributes" name="system.fearRating" type="text" value="{{actor.system.fearRating}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="system.fearRating">{{localize "blackiron.npcFear"}}</label>
                </th>
            </tr>
        </table>
    </div>

    {{!-- skills --}}
    <div>
        <table class="npc-skills">
            <tr>
                <th>{{localize "blackiron.skill"}}</th>
                <th>{{localize "blackiron.skillsRank"}}</th>
            </tr>
            {{#each data.skills as |skill key|}}
            <tr>
                <td class="skill-roll"
                    data-value="{{skill.value}}"
                    data-attr="{{skill.attr}}"
                    data-label="{{key}}">
                    {{key}}
                </td>
                <td class="rank-col">
                    <input name="system.skills.{{key}}.value"  class="skill-rank" value="{{skill.value}}" data-dtype="Number" />
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    {{!-- combat stats --}}
    <div class="npc-combat">
        <table>
            <tr>
                <th>{{localize "blackiron.attrWounds"}}</th>
                <th>{{localize "blackiron.armourPoints"}}</th>
                <th>{{localize "blackiron.attrInit"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.derived.wounds.value" type="text" value="{{actor.system.derived.wounds.value}}" data-dtype="Number" />
                    /
                    <input name="system.derived.wounds.max" type="text" value="{{actor.system.derived.wounds.max}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.armourPoints" type="text" value="{{actor.system.armourPoints}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.derived.initiative" type="text" value="{{actor.system.derived.initiative}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </div>

    {{!-- notes --}}
    <div class="npc-notes">
        {{editor enrichedNotes target="system.notes" button=true editable=editable}}
    </div>

    {{!-- weapons --}}
    <div class="npc-items">
        <table>
            <tr>
                <th colspan="2">{{localize "blackiron.weapons"}}</th>
                <td>
                    <a class="item-create" data-type="weapon" title="{{localize "blackiron.weaponAdd"}}"><i class="fas fa-plus"></i></a>
                </td>
            </tr>
            <tr>
                <td>{{localize "blackiron.weapon"}}</td>
                <td>{{localize "blackiron.weaponDamage"}}</td>
                <td></td>
            </tr>
            {{#each weapon as |weapon id|}}
            <tr class="item" data-item-id="{{weapon._id}}">
                <td class="weapon-roll">{{name}}</td>
                <td>{{system.damage}}{{system.damageType}}</td>
                <td>
                    <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    {{!-- armour --}}
    <div class="npc-items" style="margin-left: 7px;">
        <table>
            <tr>
                <th colspan="2">{{localize "blackiron.armour"}}</th>
                <td>
                    <a class="item-create" data-type="armour" title="{{localize "blackiron.armourAdd"}}"><i class="fas fa-plus"></i></a>
                </td>
            </tr>
            <tr>
                <td>{{localize "blackiron.armour"}}</td>
                <td>{{localize "blackiron.armourPoints"}}</td>
                <td></td>
            </tr>
            {{#each armour as |armour id|}}
            <tr class="item" data-item-id="{{armour._id}}">
                <td>{{name}}</td>
                <td style="text-transform: capitalize;">{{system.ap}}</td>
                <td>
                    <a class="item-edit" title="{{localize "blackiron.edit"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" title="{{localize "blackiron.delete"}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>