<div>
    <div><h1>{{name}}</h1></div>
    <div>
        {{localize "blackiron.potionUse"}}: <span style="text-transform: capitalize;">{{system.use}}</span> | 
        {{localize "blackiron.potency"}}: <span style="text-transform: capitalize;">{{system.potency}}</span>
    </div>
    <hr>
    <div>{{{system.effect}}}</div>
</div>