<div>
    <div><h1>{{name}}</h1></div>
    <div>
        {{localize "blackiron.potionType"}}: <span style="text-transform: capitalize;">{{system.type}}</span> | 
        {{localize "blackiron.potionUse"}}: <span style="text-transform: capitalize;">{{system.use}}</span> <br>
        {{localize "blackiron.potency"}}: {{system.potency}}
    </div>
    <hr>
    <div>{{{system.effect}}}</div>
</div>