<div class="spell" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <div><h1>{{name}}</h1></div>
    <div>
        {{localize "blackiron.spellSchool"}}: <span style="text-transform: capitalize;">{{system.school}}</span> | 
        {{localize "blackiron.spellCircle"}}: <span style="text-transform: capitalize;">{{system.circle}}</span> | 
        {{localize "blackiron.spellCost"}}: <span style="text-transform: capitalize;">{{system.spellCost}}</span><br>
        {{localize "blackiron.spellType"}}: <span style="text-transform: capitalize;">{{system.type}}</span> <br>
    </div>
    <hr>
    <div>{{{system.description}}}</div>
    <hr>
    <div>
        <button class="spell-roll">{{localize "blackiron.spellCast"}}: {{localize "blackiron.spellTN"}} {{system.tn}}</button>
    </div>
</div>