<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.itemCost"}}</th>
                    <td>
                        <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.ammunitionType"}}</th>
                    <td>
                        <select name="system.type">
                            {{#select data.type}}
                            {{#each config.ammunitionTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.ammunitionDamage"}}</th>
                    <td>
                        <input name="system.damage" type="text" value="{{item.system.damage}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemAmount"}}</th>
                    <td>
                        <input name="system.amount" type="text" value="{{item.system.amount}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            {{editor enrichedNote target="system.note" button=true editable=editable}}
        </div>
    </div>
</form>