<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.itemCost"}}</th>
                    <td>
                        <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemQuality"}}</th>
                    <td>
                        <select name="system.quality">
                            {{#select data.quality}}
                            {{#each config.itemQualities as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemBreak"}}</th>
                    <td>
                        <input name="system.break" type="text" value="{{item.system.break}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.armourAP"}}</th>
                    <td>
                        <input name="system.ap" type="text" value="{{item.system.ap}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            <table>
                <tr>
                    <th>{{localize "blackiron.armourModNum"}}</th>
                    <th>{{localize "blackiron.armourModSkill"}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="system.modifierNum">
                            {{#select data.modifierNum}}
                            {{#each config.modifierNumbers as |val num|}}
                            <option value="{{val}}">{{val}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="system.modifierSkill">
                            {{#select data.modifierSkill}}
                            {{#each config.modifierSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
            {{editor enrichedNote target="system.note" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>