<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.attr"}}</th>
                    <td>
                        <select name="system.attr">
                            {{#select data.attr}}
                            {{#each config.attr as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.skillsRank"}}</th>
                    <td>
                        <input name="system.value" type="text" value="{{item.system.value}}"" data-dtype="Number">
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.skillPrimary"}}</th>
                    <td>
                        <input type="checkbox" name="system.primary" {{checked item.system.primary}} data-dtype="Boolean" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>