<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">  
        <div>
            <table>
                <tr>
                    <th>{{localize "blackiron.potency"}}</th>
                    <th>{{localize "blackiron.diseaseCause"}}</th>
                </tr>
                <tr>
                    <td>
                        <input name="system.potency" type="text" value="{{item.system.potency}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input name="system.cause" type="text" value="{{item.system.cause}}" data-dtype="String" />
                    </td>
                </tr>
            </table>
        </div>

        <div>
            {{editor enrichedEffect target="system.effect" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>