<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.skill"}}</th>
                    <td>
                        <select name="system.skill">
                            {{#select data.skill}}
                            {{#each config.knackSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.knackAttr"}}</th>
                    <td style="text-align: center; text-transform: capitalize;">
                        {{item.system.attr}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>