<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.spellSchool"}}</th>
                    <td>
                        <select name="system.school">
                            {{#select data.school}}
                            {{#each config.spellSchools as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.spellCircle"}}</th>
                    <td>
                        <input name="system.circle" type="text" value="{{item.system.circle}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.spellType"}}</th>
                    <td>
                        <select name="system.type">
                            {{#select data.type}}
                            {{#each config.spellTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.spellTN"}}</th>
                    <td>
                        <input name="system.tn" type="text" value="{{item.system.tn}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.spellCost"}}</th>
                    <td>
                        <input name="system.spellCost" type="text" value="{{item.system.spellCost}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            <table>
                <tr>
                    <th colspan="2">{{localize "blackiron.spellSuccess"}}</th>
                </tr>
                <tr>
                    <th style="width: 10%;">2</th>
                    <td style="width: 90%;">
                        <input name="system.degreeSuccess.degOne" type="text" value="{{item.system.degreeSuccess.degOne}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%;">4</th>
                    <td style="width: 90%;">
                        <input name="system.degreeSuccess.degTwo" type="text" value="{{item.system.degreeSuccess.degTwo}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%;">6</th>
                    <td style="width: 90%;">
                        <input name="system.degreeSuccess.degThree" type="text" value="{{item.system.degreeSuccess.degThree}}" data-dtype="String" />
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <th colspan="2">{{localize "blackiron.spellFail"}}</th>
                </tr>
                <tr>
                    <th style="width: 10%;">2</th>
                    <td style="width: 90%;">
                        <input name="system.degreeFail.degOne" type="text" value="{{item.system.degreeFail.degOne}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%;">4</th>
                    <td style="width: 90%;">
                        <input name="system.degreeFail.degTwo" type="text" value="{{item.system.degreeFail.degTwo}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%;">6</th>
                    <td style="width: 90%;">
                        <input name="system.degreeFail.degThree" type="text" value="{{item.system.degreeFail.degThree}}" data-dtype="String" />
                    </td>
                </tr>
            </table>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>