<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.itemCost"}}</th>
                    <td>
                        <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemQuality"}}</th>
                    <td>
                        <select name="system.quality">
                            {{#select data.quality}}
                            {{#each config.itemQualities as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemSlots"}}</th>
                    <td>
                        <input name="system.slots" type="text" value="{{item.system.slots}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.weaponBreak"}}</th>
                    <td>
                        <input name="system.break" type="text" value="{{item.system.break}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            <table>
                <tr>
                    <th>{{localize "blackiron.weaponType"}}</th>
                    <th>{{localize "blackiron.weaponHands"}}</th>
                    <th>{{localize "blackiron.weaponRange"}}</th>
                </tr>
                
                <tr>
                    <td>
                        <select name="system.type">
                            {{#select data.type}}
                            {{#each config.weaponType as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="system.hand">
                            {{#select data.hand}}
                            {{#each config.weaponHands as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <input name="system.range" type="text" value="{{item.system.range}}" data-dtype="Number" />
                    </td>  
                </tr>
            </table>

            <table>
                <tr>
                    <th>{{localize "blackiron.weaponModifiers"}}</th>
                    <th>{{localize "blackiron.weaponDamage"}}</th>
                    <th>{{localize "blackiron.weaponDamageType"}}</th>
                </tr>
                <tr>
                    <td>
                        {{item.system.modifiers}}
                    </td>
                    <td>
                        <input name="system.damage" type="text" value="{{item.system.damage}}" data-dtype="Number" />
                    </td>
                    <td>
                        <select name="system.damageType">
                            {{#select data.damageType}}
                            {{#each config.damageTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

            <div>
                {{editor enrichedNote target="system.note" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>