<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="sheet-content">
        <div class="item-sidebar">
            <table>
                <tr>
                    <th>{{localize "blackiron.itemCost"}}</th>
                    <td>
                        <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "blackiron.itemQuality"}}</th>
                    <td>
                        <select name="system.quality">
                            {{#select data.quality}}
                            {{#each config.itemQualities as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="item-main">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>